<h2 mat-dialog-title>{{ isEditMode ? 'Edit Account' : 'Add Account' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="account-form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" maxlength="80" />
      <mat-error>Name is required.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Platform</mat-label>
      <input matInput formControlName="platform" maxlength="80" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Account Number</mat-label>
      <input matInput formControlName="accountNumber" maxlength="80" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Currency</mat-label>
      <mat-select formControlName="currency">
        @for (currency of currencyOptions; track currency) {
          <mat-option [value]="currency">{{ currency }}</mat-option>
        }
      </mat-select>
      <mat-error>Currency is required.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close type="button">Cancel</button>
  <button mat-raised-button color="primary" type="button" (click)="submit()">
    {{ isEditMode ? 'Save Changes' : 'Create Account' }}
  </button>
</mat-dialog-actions>
